body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/*#region Container Information*/
.container>.information {
  background-color: #2CAAE2;
  border-color: #56BBE8;
  border-style: solid;
  border-width: 12.5px;
  color: #FFFFFF;
  position: relative;
}
.container>.information.yellow {
  background-color: #FED33B;
  border-color: #FEDC62;
  color:#000000; 
}
.container>.information ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2.25em;
}

.container>.information>div, .container>.information>h2 {
  padding: 15px 20px 0px;
}
.container>.information>h2 {
  font-size: 1.1em;
  font-weight: 900;
  margin: 0;
}
.container>.information>.image>img {
  width: 100%;
}
.container>.information>.description {
  font-size: 0.9em;
  letter-spacing: 1px;
  line-height: 1.75em;
}
.container>.information>.description>span {
  display: block;
}
.container>.information>.footer {
  text-align: right;
}

.container>.information>.footer>button {
  background-color: #FFFFFF;
  border-color: #56BBE8;
  border-width: 2.5px;
  color: #2CAAE2;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 700;
  padding: 5px 20px;
}
.container>.information.yellow>.footer>button {
  border-color: #FEDC62;
  color: #000000;
}
/*#endregion*/

/*#region Sponsor Partners*/
footer>.information {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.75em;
  margin: 0;
}
footer>.sponsor-partners>img {
  max-width: 100%;
}
footer>.sponsor-partners>img:first-child {
  -ms-grid-column-align: start;
  justify-self: start;
}
footer>.sponsor-partners>img:last-child {
  -ms-grid-column-align: end;
  justify-self: end;
}
/*#endregion*/

/*#region Miscellaneous*/
.underline {
  text-decoration: underline;
}
.uppercase {
  text-transform: uppercase;
}
/*#endregion*/
