body {
  padding: 2% 14%;
}

.container {
  grid-gap: 5%;
  -ms-grid-columns: 30% 5% 30% 5% 30%;
  grid-template-columns: 30% 30% 30%;
  padding: 2% 5%;
}
.container>.information {
  padding-bottom: 3em;
  -ms-grid-row: 1;
  grid-row: 1;
}
.container>.information.first {
  -ms-grid-column: 1;
  grid-column: 1;
}
.container>.information.second {
  -ms-grid-column: 3;
  grid-column: 2;
}
.container>.information.third {
  -ms-grid-column: 5;
  grid-column: 3;
}
.container>.information>.footer>button {
  bottom: 15px;
  position: absolute;
  right: 20px;
}

footer {
  padding: 2% 5%;
}
