.container>.information>.footer>button {
  width: 100%;
}

.container>.information {
  padding-bottom: 15px;
}

footer {
  margin-bottom: 5em;
  padding: 5%;
}
footer>.information {
  text-align: center;
}
footer>.sponsor-partners {
  align-items: center;
  display: -ms-grid;
  display: grid;
  grid-gap: 5%;
  grid-row-gap: 2em;
  -ms-grid-columns: 40% 5% 55%;
  grid-template-columns: 40% 55%;
  justify-items: center;
  padding: 3em 0;
}
footer>.sponsor-partners>img:last-child {
  grid-area: auto / 1 / auto / span 2;
  justify-self: center!important;
}

footer>.sponsor-partners>.first {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}
footer>.sponsor-partners>.second {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 2;
}
footer>.sponsor-partners>.third {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}
footer>.sponsor-partners>.fourth {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 2;
}
footer>.sponsor-partners>.fifth {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-column-span: 2;
}
