.container {
  display: -ms-grid;
  display: grid;
  grid-gap: 2%;
  -ms-grid-columns: 32% 2% 32% 2% 32%;
  grid-template-columns: 32% 32% 32%;
  padding: 2%;
}

footer {
  padding: 2%;
}
footer>.sponsor-partners {
  -ms-grid-column-align: end;
  align-items: end;
  display: -ms-grid;
  display: grid;
  grid-gap: 5%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: auto auto auto auto auto;
  -ms-grid-row-align: end;
  justify-items: center;
  padding: 2% 0;
}

footer>.sponsor-partners>img{
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-row-align: end;
  -ms-grid-column-align: center;
}
footer>.sponsor-partners>.first {
  -ms-grid-column: 1;
  grid-column: 1;
}
footer>.sponsor-partners>.second {
  -ms-grid-column: 2;
  grid-column: 2;
}
footer>.sponsor-partners>.third {
  -ms-grid-column: 3;
  grid-column: 3;
}
footer>.sponsor-partners>.fourth {
  -ms-grid-column: 4;
  grid-column: 4;
}
footer>.sponsor-partners>.fifth {
  -ms-grid-column: 5;
  grid-column: 5;
  
}
